* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: grey;
    font-family: 'Lato', 'Arial', sans-serif;
    /* more than one in case user dont have internet */
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}